<section class="even" id="about">
  <div class="container pt-5 pb-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-map"></i> State of the Map Japanについて</h2>
    <div class="row justify-content-center">

      <p>{{ site.event["message"]}}
        <a style="color:white;" data-bs-toggle="collapse" href="#moreAbout" role="button" aria-expanded="false"
          aria-controls="moreAbout">(もっと読む)</a>
      </p>
      <div class="col-lg ms-auto collapse" id="moreAbout">
        <p>State of the Map（以下 SotM）は、世界中の多様な人々が紡ぐ世界地図プロジェクト
          OpenStreetMap(以下 OSM
          )の国際カンファレンスシリーズであり、OSM編集者(マッパー)、技術者、OSMを利活用・支援する企業や団体など、世界のコミュニティが一同に介するカンファレンスとして、2008年から続けられています。</p>
        <p>日本では2012年9月に東京でアジア・オセアニア地域初の国際カンファレンスを開催しました。その後、東京を中心に国内カンファレンスを開催しています。
          2017年は会津若松で国際カンファレンスを誘致し、世界各国の参加者による交流を行いました。</p>

        <p>SotM Japanでは、全世界版のSotMの趣旨および価値観をそのままに、日本および日本語でのOSM活動について、新しいアイディアや開発手法、利用方法、ビジネス事例、将来像についてディスカッションを行います。</p>
      </div>
    </div>
  </div>
</section>