<section class="even" id="about">
  <div class="container py-4 py-xl-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-map"></i> State of the Map Japanについて</h2>
    <div class="row justify-content-center">
      <div class="col-lg-5 ms-auto">
        <p>
          オープンストリートマップは、「自由な地図をみんなの手に」をスローガンに、日本や世界の自由につかえる地図を実現していこうと、ボランティアが草の根で作成した地図データの集合体です。わたしたちは、この活動をさらに発展させるために、カンファレンスを企画しました。
        </p>

        <p>
          一般社団法人オープンストリートマップ・ファウンデーション・ジャパン（以下OSMFJ）では、OSM活動のより一層の浸透と企業を含む参加者同士の交流、コミュニティの活性化、地理空間情報利活用の推進、さらには、継続的なビジネスの発展と新たな市場の想像を目指し、State
          of the Map Japan 2022 （以下SotM Japan）カンファレンスを開催することとしました。</p>

        <p>State of the Map（以下 SotM）は、世界中の多様な人々が紡ぐ世界地図プロジェクト
          OpenStreetMapの国際カンファレンスシリーズであり、OSM編集者であるマッパー、IT技術者、OSMデータを利活用・支援する企業や団体など、世界のコミュニティが一同に介するカンファレンスとして、2008年から続けられています。
        </p>
      </div>
      <div class="col-lg-5 me-auto">
        <p>日本地域においては、2012年9月に東京で行われたアジア・オセアニア地域初であるSotM
          2012世界総会をスタートとして、2014年より、日本地域におけるローカルカンファレンスとして、2014年の東京、2015年には浜松と、継続して開催されています。
          2017年は会津若松で国際カンファレンスを誘致し、世界各国からのマッパーによる交流を行いました。2018年には、東京の日比谷図書文化館で、図書館とOSMをつなぐ活動について議論しました。2020年には、FOSS4G
          Japanカンファレンスと共同で、オンラインでの開催を実施をしました。
        </p>

        <p>SotM Japanでは、全世界版のSotMの趣旨および価値観をそのままに、日本および日本語でのOSM活動について、新しいアイディアや開発手法、利用方法、ビジネス事例、将来像についてディスカッションを行います。
        </p>

        <p>主催は、Code for Harima及びOSMFJメンバーを主体とするSotM Japan実行委員会が行い、OSMFJは全面的に協力いたします。</p>

      </div>
    </div>
  </div>
</section>
