<section class="even" id="committee">
  <div class="container pb-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-chat-text"></i> 実行委員会について</h2>
    <div class="row justify-content-center">
      <div class="col-lg-10 mx-auto">

        <p>State of the Map Japan 2022 実行委員会は OpenStreetMap Japan Slack にて運用をしています。</p>
        <p>実行委員会に興味のある方は OpenStreetMap Japan Slack の <q>#71_sotmjp2022</q> に<a href="https://bit.ly/OSM_Japan"
            class="text-white fw-bold">参加</a> してください。議事録などは原則公開しています。</p>

        <h3>Contributor(順不同)</h3>
        <div class="row">
          <div class="col-lg-4">
            <ul>
              <li>福田 宏司(harimawood)</li>
              <li>井上 欣哉(ikiya)</li>
              <li>古橋 大地(MAPconcierge)</li>
              <li>Hokkosha</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>飯田 哲(nyampire)</li>
              <li>平澤 彰悟</li>
              <li>安田 遥</li>
              <li>筒井 大介(ファンローカル)</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>宮原 徹</li>
              <li>松澤 太郎(smellman)</li>
              <li>田中 聡至</li>
              <li>坂ノ下 勝幸</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>