<section class="even" id="committee">
  <div class="container pb-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-chat-text"></i> 実行委員会について</h2>
    <div class="row justify-content-center">
      <div class="col-lg-10 mx-auto">

        <p>State of the Map Japan 2022 実行委員会は OpenStreetMap Japan Slack にて運用をしています。</p>
        <p>実行委員会に興味のある方は OpenStreetMap Japan Slack の <q>#71_sotmjp2022</q> に<a href="https://bit.ly/OSM_Japan" class="text-white fw-bold">参加</a> してください。議事録などは原則公開しています。</p>

      </div>
    </div>
  </div>
</section>
