<div class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SOTM Japan 2022</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
      aria-controls="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand offcanvas-title" href="#">SOTM Japan 2022</a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a href="./index.html#about" class="nav-link">SOTMJについて</a></li>
          <li class="nav-item"><a href="./index.html#news" class="nav-link">お知らせ</a></li>
          <li class="nav-item"><a href="./index.html#event-outline" class="nav-link">開催概要</a></li>
          <li class="nav-item"><a href="./index.html#sponser" class="nav-link">スポンサー</a></li>
          <li class="nav-item"><a href="./index.html#timetable" class="nav-link">タイムテーブル</a></li>
          <li class="nav-item"><a href="https://sotmjp2022.peatix.com/" class="nav-link">参加登録</a></li>
          <li class="nav-item"><a href="./coc.html" class="nav-link">行動規範</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
