<section id="news">
  <div class="container py-4 py-xl-3">
    <div class="row justify-content-center">
      <div class="col">

        <div class="card">
          <div class="card-body">
            <h2 class="display-6 fw-bold mb-4"><i class="bi bi-newspaper"></i> お知らせ</h2>

            <div class="row">
              <div class="container col-md-8 col-sm-12">
                <ul>
                  <li>本カンファレンスの<strong><a href="https://sotmjp2022.peatix.com/">一般参加登録中</a></strong>です。<br>
                    参加登録は無料ですが、開催支援として寄付(2000円または5000円)も行うことが出来ます。<br>
                    また、参加登録は感染対策も兼ねているので、ご参加を予定されている方はご登録願います。<br>
                    ※参加登録せずに会場に来られた方は受付でお伝えください。登録方法をご案内します。
                  </li>
                </ul>
                <div class="overflow-auto" style="height:300px;">
                  <ul>
                    <li>Apoharukaさんに State of the Map Japanグッズを作ってもらいました。<a href="https://suzuri.jp/apoharuka/designs/12561206">SUZURIで販売中</a>です！</li>
                    <li>2022/11/20 本カンファレンスのテーマは「リスタート」に決まりました</li>
                    <li>2022/11/16 <a href="https://geolonia.com/">Geolonia</a>様がシルバースポンサーになりました</li>
                    <li>2022/11/15 <a href="https://web.pref.hyogo.lg.jp/">兵庫県</a>様から後援を頂きました</li>
                    <li>2022/11/13 <a href="https://www.mapillary.com/">Mapillary</a>様がゴールドスポンサーになりました</li>
                    <li>2022/11/13 <a href="#timetable">タイムテーブル</a>が公開されました。様々な発表をお楽しみください</li>
                    <li>2022/11/07 <a href="https://sotmjp2022.peatix.com/">参加登録が始まりました</a>。感染対策も兼ねるのでご登録ください</li>
                    <li>2022/10/31 発表募集が終わりました。20件以上ものご応募ありがとうございました</li>
                    <li>2022/10/27 <a href="https://www.city.kakogawa.lg.jp/">加古川市</a>様が後援になりました</li>
                    <li>2022/10/26 <a href="https://www.ic-inc.world/home">iC!</a>様がシルバースポンサーになりました</li>
                    <li>2022/10/20 <a href="https://locationmind.com/">LocationMind</a>様がゴールドスポンサーになりました</li>
                    <li>2022/10/20 兵庫ニューメディア推進協議会様から後援を頂きました</li>
                    <li>2022/10/20 <a href="https://georepublic.info/ja/">Georepublic</a>様がシルバースポンサーになりました</li>
                    <li>2022/10/19 <a href="https://nianticlabs.com/?hl=ja">Niantic Japan</a>様がプラチナスポンサーになりました</li>
                    <li>2022/10/16 <a href="https://forms.gle/AqBKpkDBfcdnBs896">発表募集</a>を開始しました。みなさんの応募を期待しています</li>
                    <li>2022/10/16 <a href="https://www.mapbox.jp/">mapbox</a>様がシルバースポンサーになりました</li>
                    <li>2022/10/03 ホームページをリニューアルしました</li>
                    <li>2022/09/27 <a href="https://www.osgeo.jp/">一般社団法人OSGeo日本支部 （OSGeo.JP）</a>様から後援を頂きました</li>
                    <li>2022/09/16 <a href="https://www.facebook.com/OKFjp/">オープン・ナレッジ・ファウンデーション・ジャパン</a>様から後援を頂きました
                    </li>
                    <li>2022/09/13 <a href="https://www.aoyama.ac.jp/faculty/gsc/">青山学院大学 地球社会共生学部</a>様から後援を頂きました</li>
                    <li>2022/09/13 <a href="https://twitter.com/youthmappers4a1">YouthMappers AGU</a>様から後援を頂きました</li>
                    <li>2022/09/13 <a href="http://crisismappers.jp/">NPO法人CrisisMappers Japan</a>様から後援を頂きました</li>
                    <li>2022/09/13 <a href="https://www.ospn.jp/">Open Source People Network</a>様から後援を頂きました</li>
                    <li>2022/09/13 <a href="https://www.code4japan.org/">Code for Japan</a>様から後援を頂きました</li>
                    <li>2022/09/13 ホームページを公開しました</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 d-flex justify-content-end">
                <a class="twitter-timeline float-end" href="https://twitter.com/SotM_Japan?ref_src=twsrc%5Etfw" data-width="340px" data-height="440px">Tweets by
                  SotM_Japan</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>