<section id="news">
  <div class="container py-4 py-xl-3">
    <div class="row justify-content-center">
      <div class="col">

        <div class="card">
          <div class="card-body">
            <h2 class="display-6 fw-bold mb-4"><i class="bi bi-newspaper"></i> お知らせ</h2>

            <div class="row">
              <div class="container col-md-8 col-sm-12">
                <ul>
                  <li><strong>本カンファレンスの<a
                        href="https://forms.gle/AqBKpkDBfcdnBs896">発表募集中</a></strong>です（締め切りは10月末）。<br>
                    応募にあたり、スキルや技術は問いません。OpenStreetMapでやりたいこと、やったこと何でも結構です。<br>
                    研究発表・ソフトウェアの紹介から、マッピングパーティの報告まで、みなさんの応募を期待しています。<br>
                    ※オンライン登壇(Zoomを予定)も受け付けます。また、パネル展示（A1サイズ程度）も受け付けます。<br>
                    ※発表以外の企画をお持ちの方は、「希望する発表内容」を「その他」にしてお申し込みください。
                  </li>
                </ul>
                <div class="overflow-auto" style="height:300px;">
                  <ul>
                    <li>2022/10/20 <a href="https://locationmind.com/">LocationMind</a>様がゴールドスポンサーになりました</li>
                    <li>2022/10/20 兵庫ニューメディア推進協議会様から後援を頂きました</li>
                    <li>2022/10/20 <a href="https://georepublic.info/ja/">Georepublic</a>様がシルバースポンサーになりました</li>
                    <li>2022/10/19 <a href="https://nianticlabs.com/?hl=ja">Niantic Japan</a>様がプラチナスポンサーになりました</li>
                    <li>2022/10/16 <a href="https://forms.gle/AqBKpkDBfcdnBs896">発表募集</a>を開始しました。みなさんの応募を期待しています</li>
                    <li>2022/10/16 <a href="https://www.mapbox.jp/">mapbox</a>様がシルバースポンサーになりました</li>
                    <li>2022/10/03 ホームページをリニューアルしました</li>
                    <li>2022/09/27 <a href="https://www.osgeo.jp/">一般社団法人OSGeo日本支部 （OSGeo.JP）</a>様から後援を頂きました</li>
                    <li>2022/09/16 <a href="https://www.facebook.com/OKFjp/">オープン・ナレッジ・ファウンデーション・ジャパン</a>様から後援を頂きました
                    </li>
                    <li>2022/09/13 <a href="https://www.aoyama.ac.jp/faculty/gsc/">青山学院大学 地球社会共生学部</a>様から後援を頂きました</li>
                    <li>2022/09/13 <a href="https://twitter.com/youthmappers4a1">YouthMappers AGU</a>様から後援を頂きました</li>
                    <li>2022/09/13 <a href="http://crisismappers.jp/">NPO法人CrisisMappers Japan</a>様から後援を頂きました</li>
                    <li>2022/09/13 <a href="https://www.ospn.jp/">Open Source People Network</a>様から後援を頂きました</li>
                    <li>2022/09/13 <a href="https://www.code4japan.org/">Code for Japan</a>様から後援を頂きました</li>
                    <li>2022/09/13 ホームページを公開しました</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 d-flex justify-content-end">
                <a class="twitter-timeline float-end" href="https://twitter.com/SotM_Japan?ref_src=twsrc%5Etfw" data-width="340px" data-height="440px">Tweets by
                  SotM_Japan</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>