<section>
  <div class="container py-4 py-xl-3">
    <div class="card">
      <div class="card-body">
        <h2 class="display-6 fw-bold mb-4" id="speaker"><i class="bi bi-chat-square"></i> 基調講演</h2>
        {% for talk in site.data.talks %}
        <div class="row mb-4 mb-xxl-5 justify-content-center">
          <div class="col-10 col-md-5 col-lg-4 col-xl-3 g-0 text-center">
            {% if talk.img != null %}
            <img src="./img/{{ talk.img }}" alt="" class="img-fluid" width="200">
            {% endif %}
          </div>
          <div class="col-10 col-md-7 col-lg-8 col-xl-9 p-3">
            <h4 class="fs-2">{{ talk.title }}</h4>
            <p class="speaker">{{ talk.name }} | {{ talk.position }}</p>
            <p>{{ talk.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>