<section>
  <div class="container py-4 py-xl-5">
    <h2 class="display-6 fw-bold mb-4" id="sponser"><i class="bi bi-star"></i> スポンサー</h2>
    <div class="row justify-content-center">
      <div class="col mt-5">
        {% for sponser in site.data.sponsers %}
        <h3 class="text-uppercase">{{ sponser[0] }}</h3>
        <div class="row justify-content-center">
          {% for company in sponser[1] %}
          <div class="col text-center">
            <a href="{{ company.url }}"><img src="img/{{ company.img }}" alt="" width="200vw"></a>
            <p>{{ company.name }}</p>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
