<section id="sponser">
  <div class="container py-4 py-xl-5 mb-5">
    <h2 class="display-6 fw-bold mb-2"><i class="bi bi-star"></i> スポンサー</h2>
    <div class="row justify-content-center">
      <div class="col">
        {% for sponser in site.data.sponsers %}
        <h3 class="text-uppercase m-5">{{ sponser[0] }}</h3>
        <div class="row justify-content-center">
          {% for company in sponser[1] %}
          <div class="col text-center">
            <div class="h-100" style="display: flex; justify-content: center; align-items: center;">
              {% if company.url != "https://www.example.com/" %}
              <a href="{{ company.url }}"><img src="img/{{ company.img }}" alt="{{ company.company }}"
                  width="200"></a>
              {% else %}
              <img src="img/{{ company.img }}" alt="{{ company.company }}" width="200vw">
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>