<section id="timetable">
  <div class="container py-4 py-xl-2">
    <div class="card">
      <div class="card-body">
        <h2 class="display-6 fw-bold mb-4"><i class="bi bi-calendar"></i> タイムテーブル</h2>
        <div class="row justify-content-center">
          <div class="col">
            <div class="table-responsive">

              <table class="table table-light table-hover" style="overflow: inherit; word-break: break-word;">
                <thead>
                  <tr>
                    <th style="width: 20%">時間</th>
                    <th style="width: 40%">トラック1(会議室B / 20分発表)</th>
                    <th style="width: 40%">トラック2(特別会議室 / 10分発表)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>13:00〜13:10</th>
                    <td>
                      <h5>開会の挨拶(実行委員長)</h5>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <th>13:10〜13:30</th>
                    <td>
                      <h5><span>基調講演</span><br>加古川市スマートシティ推進の取り組みについて</h5>
                      <p class="speaker">多田 功 | 加古川市企画部政策企画課スマートシティ推進担当課長</p>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <th>13:30〜13:40</th>
                    <td colspan="2">休憩</td>
                  </tr>
                  <tr>
                    <th>13:40〜14:00</th>
                    <td>
                      <h5><span>スポンサー講演</span><br>OpenStreetMap x LocationMind（仮）</h5>
                      <p class="speaker">金杉 洋 | LocationMind株式会社</p>
                      これまでにOpenStreetMapを利用してきた実績と、今後の活用の可能性についてのご紹介します。
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <th>14:00〜14:20</th>
                    <td>
                      <h5><span>スポンサー講演</span><span class="red">配信無し</span><br>Mapboxでの日本地図対応 Mapboxでの日本地図対応</h5>
                      <p class="speaker">矢澤 良紀 | Mapbox Japan G.K.</p>
                      Mapboxが日本地図向けに行った対応の過去3年間の歴史をお話頂きます。
                    </td>
                    <td>
                      <h5><span>スポンサー講演</span><br>tile.openstreetmap.jpの現状について</h5>
                      <p class="speaker">松澤 太郎 | Georepublic/OSMFJ/OSGeo.JP</p>
                      tile.openstreetmap.jpは現在Planet単位のVector/Rasterのタイルサーバとして運用をしています。タイルサーバの全ての機能はOSSで運用されています。今回はタイルの生成方法や運用までお話をします。
                    </td>
                  </tr>
                  <tr>
                    <th>14:20〜14:30</th>
                    <td colspan="2">休憩</td>
                  </tr>
                  <tr>
                    <th rowspan="2">14:30〜14:50</th>
                    <td rowspan="2">
                      <h5>マッピングパーティ、100回を超えました！</h5>
                      <p class="speaker">山下 康成 | 個人</p>
                      2013年に初めてマッピングパーティの講師に招聘されて以来、自ら企画するマッピングイベントやら
                      招聘されたマッピングイベントやらでの講師をした回数が、先日ついに100回をこえました！。おそらく日本で初めてのことと思います。
                      本セッションでは、そもそもマッピングパーティとは何か から始め、これまで開催してきたマッピングパーティの様子や成果を紹介するとともに、マッピングパーティを成功に導く秘訣を解説します。
                      初心者・未経験者の皆さんから マッピングパーティの開催を考える皆さんまで、どうぞ ご期待ください！
                    </td>
                    <td>
                      <h5><span>スポンサー講演</span><br>iPhoneでマッピンをメモれるApp『マッパーメモ號』</h5>
                      <p class="speaker">佐合 純 | iC株式会社</p>
                      iC株式会社はFileMakerプラットフォーム向け地図サービスを提供しています。
                      地図は誰かが描かなければ出来ません。地図データを使いっぱなしだけで終わるのではなく、微力ながら地図業界に貢献したいと思って作ったのがFileMaker
                      Go上で動作する『マッパーメモ號』です。通勤・通学途中に気軽にiPhoneでマッピングメモを取れるアプリをご紹介します。<br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>学部１年生から見た初心者のための Tasking Manager の使い方</h5>
                      <p class="speaker">古橋研究室１年生チーム | 青山学院大学 フレッシャーズセミナー 古橋研究室</p>
                      青山学院大学の学部1年生がはじめてOSMアカウントを作り、Tasking Manager で建物マッピングを経験した、初心者目線でのマッピング方法を、短い動画でまとめた作品を紹介します。
                    </td>
                  </tr>
                  <tr>
                    <th>14:50〜15:00</th>
                    <td colspan="2">休憩</td>
                  </tr>
                  <tr>
                    <th rowspan="2">15:00〜15:20</th>
                    <td rowspan="2">
                      <h5>OpenAerialMap v2 はどうなるか？</h5>
                      <p class="speaker">古橋 大地 | 青山学院大学 地球社会共生学部</p>
                      ドローンの空撮画像を共有するプラットフォーム OpenAerialMap は、Humanitarian OpenStreetMap Team によって維持・運営されおり、OpenStreetMap
                      の詳細な地図編集を行う上で非常に高精細な画像提供ソースとして活用されています。2022年上半期より次世代の OpenAerialMap ver.2
                      の開発がスタートし、年内にはメジャーアップデートを予定しています。OpenAerialMap がどのように進化し、OpenStreetMap
                      とどのように連携していくのか、その最新状況を共有します。
                    </td>
                    <td>
                      <h5>マッピング楽しもう！いろんな視点で</h5>
                      <p class="speaker">瀧口 典子 | 個人</p>
                      コロナ状況も落ち着いてきて、出かける機会も増えてきました。交差点にある同じ名前のバス停。
                      初めて現地に行って迷ったことありませんか？ちょっとした気遣いマッピングが役立つ事例を紹介。
                      発見したもの、変更になったもの、自分の関心のあるものからマッピングすれば楽しく続けられますよ！
                      といった些細なことをお話します。
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>『くさつお宝マップ』疑似体験！地域の宝を発見、活用、未来へつなぐ</h5>
                      <p class="speaker">大塚 佐緒里 | 草津おみやげラボ</p>
                      まちの魅力を伝えるアクティビティとツールをみんなでつくろう。
                      「まちのお宝」をテーマに、子ども達・外国人を含む多様な人と交流し、地域の魅力の再発見や新しく生み出したコトを、未来へ残すためにwebアプリ『くさつお宝マップ』の開発を進めてきました。
                      OSMから対象となる地物を抽出し、その場所の「体験談と自分で作ったクイズ」を入力して、リアル／オンラインでの交流を行うことができます。
                      また、他団体ともコラボして、情報を充実させるためのマッピングパーティーを楽しみながら学ぶこともしています。
                      『くさつお宝マップ』を共有して得られる疑似体験から、つながり・愛着を育み、体験する側から発信する側へとなり、まちの課題解決・伝統・先端技術に関わり、地域に住み続けたいと思う人を育てる社会づくりに貢献していきます。
                    </td>
                  </tr>
                  <tr>
                    <th>15:20〜15:30</th>
                    <td colspan="2">休憩</td>
                  </tr>
                  <tr>
                    <th rowspan="2">15:30〜15:50</th>
                    <td rowspan="2">
                      <h5>京都府福知山市毛原におけるOSMの制作とQGISを利用した活用</h5>
                      <p class="speaker">杉原 穂紀 / 幅 彩水 | 立命館大学 理工学部 専門ゼミナール(TA)</p>
                      京都府福知山市毛原の正確なOSMの作成を行いました。OSMの調査方法として一般的には、航空写真、GPS、自ら現地調査をすることが挙げられますが、今回はそれに加えて、実際に現地の方に毛原を案内していただき、ヒアリング調査を行いました。
                      植物、獣害対策用フェンス、住宅の屋根の形など細部まで調査し、タグの作成にこだわりました。屋根の形はF4mapを用いて、実際に3Dで見ることができます。
                      また、OSMで入力された情報を下に、QGISを用いて3Dジオラマを作りました。OSMのbuilding情報を取り込み、位置や大きさを正確にジオラマに反映しました。
                      畑や田の情報を使って、色を塗分けることによって、ひと目で土地の用途がわかるようにしました。また、毛原の特徴である獣害対策用フェンスは、立体的に可視化することによって、集落の至る所にある様子をよりリアルに表現することができました。
                    </td>
                    <td>
                      <h5>OSMFJを使い倒して、加速しよう</h5>
                      <p class="speaker">三浦 広志 | 一般社団法人オープンストリートマップ・ファウンデーション・ジャパン</p>
                      一般社団法人オープンストリートマップ・ファウンデーション・ジャパン(OSMFJ)は、OpenStreetMapの日本および日本語の普及、展開を推進し、コミュニティを支援するため、2010年に設立されました。
                      OSMの本部であるOSM Foundationの日本支部として承認をうけて、様々な裏方の活動をしています。
                      本セッションでは、OSMFJがささえる活動を紹介するとともに、みなさんがマッパーとして、あるいは活用する団体や企業として、OSMFJのとりくみをどのように活用できるのか、ご紹介します。
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>コミュニティマップメーカーのススメ</h5>
                      <p class="speaker">坂ノ下 勝幸 | 諸国・浪漫/Code for Harima/OSAKA/Kusatsu</p>
                      数年前から開発しているコミュニティマップメーカーを紹介します。あなたの街でも使ってみませんか？きっと新しい繋がりが出来ると思います。
                    </td>
                  </tr>
                  <tr>
                    <th>15:50〜16:00</th>
                    <td colspan="2">休憩</td>
                  </tr>
                  <tr>
                    <th rowspan="2">16:00〜16:20</th>
                    <td rowspan="2">
                      <h5>行政の航空写真をOSM背景として利用する</h5>
                      <p class="speaker">八木 良人 | CodeForKusatsu＆CodeForGiin</p>
                      行政が持っている精度の高い航空写真（課税に利用）をOSMの背景として利用することで、よりマッピングの精度が上がるとともに、初心者マッパーの方も地図を描きやすくなると考えました。
                      そこで、草津市にデータの公開を請求したところ、門前払いで公開請求が却下、そこから何度かの交渉を経て、航空写真データを入手して、OSMの背景として利用できるようになるまでのお話をします。
                      他の地域でも航空写真を行政から入手するときの参考にしていただければと思います。それと、CodeForGiinというブリゲードの紹介を少しだけ！！
                    </td>
                    <td>
                      <h5>
                        <span class="red">体調不調により中止</span>
                        <br>
                        オフラインWeb地図サーバー「UNVT Portable」</h5>
                      <p class="speaker">平澤 彰悟 | 東京大学</p>
                      オフライン環境下でもスマートフォン等のデバイスから自由にWeb地図の利用を可能にするマップサーバー「UNVT Portable 」。
                      激甚災害時のオフライン環境での機能を想定しており、災害発生後に撮影したドローン空撮画像、OpenStreetMap、JAXA等が無料公開している衛星画像など、事前に用意した各種オープンデータタイルデータセットを組み合わせて、災害時に必要となる地図を提供します。
                      自治体の市役所などで災害後の状況把握や災害対応に活用するユースケースを想定しています。ApacheやMapLibreなどのオープンソースソフトウェアとRaspberry
                      Piを用いたWeb地図サーバーです。開発もGitHub上でオープンに行っており、多様なメンバーと共に開発を進めています。
                      「UNVT Portable 」は国連プロジェクトUN Open GIS Initiativeに採択されており、国内のみならず国際的に認められている技術です。
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Using OSM on Web application first step.</h5>
                      <p class="speaker">田中 聡至 | 福岡市エンジニアカフェ</p>
                      OpenStreetMapを用いたOSMの活用ではLeafletからの利用がデファクトスタンダードとなっています。
                      本セッションにおいては静的なWebサイトにおいてのOSMの埋め込みや地物の表示に関わるはじめの一歩について振り返ります。
                      また、昨今ではWebGLを活用した地図表現も徐々に広まっており、Mapboxを中心とした企業のサポートで高機能なOSSが活用できます。
                      宣言的UIを採用したレンダリングエンジンたるReactからも利用しやすいDeckGLからのOSM利用についても触れていきます。
                    </td>
                  </tr>
                  <tr>
                    <th>16:20〜16:30</th>
                    <td colspan="2">休憩</td>
                  </tr>
                  <tr>
                    <th rowspan="2">16:30〜16:50</th>
                    <td rowspan="2">
                      <h5>LibreOfficeとコンソール(awk)でのマッピング</h5>
                      <p class="speaker">丸市 展之</p>
                      私がこれまで使ってきた普通じゃないOpenStreetMap編集方法の紹介。<br>
                      ・LibreOffice CalcでOSM-XMLから位置情報を取得し、計算した位置情報をOSM-XMLにする<br>
                      ・awkを使ってOSM-XMLから再計算し別のOSM-XML作成する<br>
                      ・LibreOffice Drawからawkで変換しOSM-XML作成する<br>
                      主にこの手法と相性の良いMerkaartorを使うが、JOSMも考慮する。
                    </td>
                    <td>
                      <h5>泉州らへんでオープンデータとＧＩＳを楽しむ会の活動報告</h5>
                      <p class="speaker">くっすん | 泉州らへんでオープンデータとＧＩＳを楽しむ会 泉大津市立北公民館サポーターチーム</p>
                      「泉州らへん」は2017年に岸和田市で開催されたInternational Open Data
                      Dayの参加者が今後も活動を続けたいと作った集まりです。
                      参加者は70代と小学生が多く、南大阪でのマッピングパーティを中心にゆる〜く活動しています。
                      その活動内容をお話したいと思います。
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>街の魅力発見とOSM</h5>
                      <p class="speaker">藤野 進</p>
                      大阪市東淀川区でのOSMを使った、街の魅力発見する活動について
                    </td>
                  </tr>
                  <tr>
                    <th>16:50〜17:00</th>
                    <td colspan="2">休憩</td>
                  </tr>
                  <tr>
                    <th>17:00〜17:50</th>
                    <td>
                      <h5><span>特別企画</span>(17:00〜17:50)<br>紙地図 VS オープンストリートマップ</h5>
                      <p class="speaker">辻 信⼀ | 神⼾地図研究会</p>
                      <p class="speaker">古橋 大地 | 青山学院大学 地球社会共生学部</p>
                      <p class="speaker">大塚 佐緒里 | 草津おみやげラボ</p>
                      <p class="speaker">八木 良人 | CodeForKusatsu＆CodeForGiin</p>
                      <p class="speaker">筒井 大介 | ファンローカル</p>
                      オープンストリートマップと領域が近しいけれど、あまり交わる機会が少ないと思われる紙の地図に造詣が深い⽅と、オープンストリートマップの実践者が、楽しくディスカッションをします。
                    </td>
                    <td>
                      <h5>(17:00〜17:10)<br>YouthMappers AGU Activity Report 2022</h5>
                      <p class="speaker">柴山 息吹 | YouthMappers AGU, 古橋研究室, 青山学院大学</p>
                      地図作りで社会貢献に取り組む学生団体、YouthMappers AGUの近年の活動を紹介します。
                      我々は国内外の被災地や開発途上地域などを対象に、OpenStreetMapというWeb上の地図情報を編集することで、現地の人々の生活や社会に役立つよう努めてきました。
                      今年は2月に始まったウクライナ侵攻を受け、国外へ避難するウクライナの人々の移動や生活をサポートするために隣国のポーランドやモルドバの地図情報を更新してきました。
                      こうして新しく詳細な地図を作ることで、国境なき医師団やJICAといった団体の支援活動にも役立たせるというねらいもあります。
                      我々の活動は公式ブログやSNSでの発信に加え、フィレンツェで開催された国際会議、State of the Map 2022 にてポスターで発表してきました。
                      State of the Map Japanの場でも発表を行うことで、YouthMappers AGUの活動をさらに多くの人に知ってもらいたいです。
                    </td>
                  </tr>
                  <tr>
                    <th>17:50〜18:00</th>
                    <td><h5>閉会の挨拶(実行委員長ほか)</h5></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <th>18:00〜18:10</th>
                    <td colspan="2">休憩</td>
                  </tr>
                  <tr>
                    <th>18:10〜18:30</th>
                    <td>
                      <h5>当日の発表内容のグラフィックレコーディングでのまとめ</h5>
                      <p class="speaker">安田 遥 | 青山学院大学</p>
                      当日の発表内容をグラフィックレコーディングでまとめます。その内容を要約して振り返りを行います。<br>
                      ※注意：全ての発表はまとめません(発表者の判断)。
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <th>18:30〜20:00</th>
                    <td><h5>交流会(希望者のみ、流れ解散)</h5></td>
                    <td>&nbsp;</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>