<section class="even">
  <div class="container py-4 py-xl-5">
    <h2 class="display-6 fw-bold mb-4" id="timetable"><i class="bi bi-calendar"></i> タイムテーブル</h2>
    <div class="row justify-content-center">
      <div class="col">
        <div class="table-responsive">

          <table class="table table-light table-hover" style="overflow: inherit; word-break: break-word;">
            <thead>
              <tr>
                <th style="width: 20%">時間</th>
                <th style="width: 40%">トラックA</th>
                <th style="width: 40%">トラックB</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>13:00〜13:10</th>
                <td><b>オープニング</b></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>13:10〜13:30</th>
                <td><a href="#keynote"><b>基調講演</b></a><br />
                  古橋大地 | 青山学院大学教授/NPO法人クライシスマッパーズ・ジャパン理事長/MAPconcierge株式会社代表取締役<br />
                  The Past, Present, and Future of OpenStreetMap Japan 〜 一億総伊能化は実現できるのか 〜</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>13:30〜13:45</th>
                <td><a href="#sponsor1"><b>スポンサーセッション1</b></a><br />
                  井口奏大 / 株式会社MIERUNE<br />
                  北海道からOSMサービスを展開する 謎の組織に加入したらいつの間にか マッパーになっていた件について</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>13:45〜14:00</th>
                <td><a href="#sponsor2"><b>スポンサーセッション2</b></a><br />
                  松澤太郎 | Georepublic/OSMFJ/OSGeo.JP<br />
                  日本のタイルサーバの現状</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>14:00〜14:10</th>
                <td colspan="2">休憩</td>
              </tr>
              <tr>
                <th>14:10〜14:25</th>
                <td><a href="#presentation_a1"><b>一般発表A1</b></a><br />
                  山下康成 / 京都府向日市<br />
                  マッピングパーティーを開催しよう！
                </td>
                <td><a href="#presentation_b1"><b>一般発表B1</b></a><br />
                  大塚恒平 / Code for History<br />
                  古地図処理における新技術、HTGCL(Historical Topographic Ground Control Line)の紹介とOSMデータを時空間を超える歴史の背骨に用いるアイデア
                </td>
              </tr>
              <tr>
                <th>14:25〜14:40</th>
                <td><a href="#presentation_a2"><b>一般発表A2</b></a><br />
                  吉田涼香、八尋舞美 / YouthMappersAGU<br />
                  日本にマッピングを広げる為に</td>
                <td><a href="#presentation_b2"><b>一般発表B2</b></a><br />
                  奥村美佳(おくみか) / Code for Kusatsu<br />
                  Code for Kusatsu活動紹介</td>
              </tr>
              <tr>
                <th>14:40〜14:55</th>
                <td><a href="#presentation_a3"><b>一般発表A3</b></a><br />
                  和田清人<br />
                  お城マッピングでuMapやってみた。</td>
                <td><a href="#presentation_b3"><b>一般発表B3</b></a><br />
                  三浦広志 / OSMFJ<br />
                  OmegaTで、OSM Wikiを快適に翻訳しよう</td>
              </tr>
              <tr>
                <th>14:55〜15:10</th>
                <td><a href="#presentation_a4"><b>一般発表A4</b></a><br />
                  瀬戸寿一 / 東京大学空間情報科学研究センター<br />
                  日本のOSMデータ作成とMapperの時系列推移</td>
                <td><a href="#presentation_b4"><b>一般発表B4</b></a><br />
                  坂ノ下 勝幸 / 諸国・浪漫<br />
                  オープンデータソンのご紹介！</td>
              </tr>
              <tr>
                <th>15:10〜15:40</th>
                <td><a href="#lightning_talk"><b>Lightning Talk</b></a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>15:40〜16:40</th>
                <td><a href="#panel_discussion"><b>パネルディスカッション</b></a><br />
                  テーマ: 「地域色豊かなOSMトーク～地元での活動-地図を作る使う、これからのOSM」
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>16:40〜16:55</th>
                <td><a href="#joint_session"><b>State of the Map Japan 2020 / FOSS4G Japan 2020 Online
                      合同講演</b></a><br />
                  宮内隆行 / 株式会社 Geolonia 代表<br />
                  オープンソースでつくるオープンソースっぽい地図の会社の挑戦</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>16:55〜17:00</th>
                <td>クロージング</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>17:00〜18:00</th>
                <td>懇親会前交流会</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th>18:00〜</th>
                <td><a href="https://sotmjp2020-foss4gjp2020-party.peatix.com/">State of the Map 2020 & FOSS4G Japan
                    2020 Online 合同懇親会</a></td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>
