<!DOCTYPE html>
<html lang="{{ site.lang | default: " ja-JP" }}" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.desc %}{{ page.desc }}{% else %}{{ page.content | strip_html | truncate: 130 }}{% endif %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="{{ '/css/bootstrap-5.2.1/css/bootstrap.min.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet"
    href="{{ '/css/bootstrap-icons-1.9.1/bootstrap-icons.css?v=' | append: site.github.build_revision | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./img/icons/favicon-16x16.png">
  <link rel="manifest" href="./img/icons/site.webmanifest">
  <link rel="mask-icon" href="./img/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="State of the Map Japan">
  <meta name="application-name" content="State of the Map Japan">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#f4f3f1">
  <!-- OGP -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://stateofthemap.jp/2022/">
  <meta property="og:image" content="https://stateofthemap.jp/2022/img/ogimage.png">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:locale" content="{{ site.lang }}">
  <meta property="og:updated_time" content="2022-10-17T00:30:00+09:00" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@osmfj">
</head>

<body>
  {% include nav.html %}
  {{ content }}
  {% include footer.html %}
  <script src="{{ '/css/bootstrap-5.2.1/js/bootstrap.min.js'  | relative_url }}"></script>
</body>

</html>